body {
    background-color: #D4DBC9;
}

/*
    Home Page
*/
.home {
    font-family: Consolas;
    text-transform: lowercase;
}

.homeTitle {
    margin-top: 25%;
    font-size: 5em;
}

    .homeTitle span {
        margin: 20px;
    }

.homeMenu {
    margin-top: 50px;
    font-size: 1.5em;
}

    .homeMenu div {
        display: inline;
        margin-right: 25px;
        margin-left: 25px;
    }

    .homeMenu a {
        text-decoration: none;
        color: #000000;
    }
