@{
    ViewBag.Title = "AdamKunzler.com";
}

<style type="text/css">
    html {
        overflow: hidden;
    }    
</style>

<div class="home">
    <div class="row">
        <div class="col-md-12 homeTitle text-center">
            <span>a</span><span>d</span><span>a</span><span>m</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 homeMenu text-center">
            <div><a href="#">about</a></div>            
            <div><a href="#">r&eacute;sum&eacute;</a></div>
        </div>
    </div>
</div>
